/* Table of Content
==================================================
	# Variables
	# Login
*/
#wrapper .signup{margin-left:-225px}.login-logo{color:#fff}.loginbox{margin-top:50px}.loginbox .forgotten-password{float:right;font-size:80%;position:relative;margin-top:-20px}.loginbox .panel-body{padding-top:30px}.loginbox .input-group{margin-bottom:25px}.loginbox .form-group{margin-bottom:10px}#editor{overflow:scroll;max-height:300px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
