/**********************************************************************************

	Project Name: microCMS - A developers CMS
	Project Description: microCMS custom styles
	File Name: custom.css
	Author: Reme Le Hane
	Author URI: http://www.remelehane.me
	Version: 1.0.0
	
**********************************************************************************/
/* Table of Content
==================================================
	# Variables
	# Login
*/

/*	==================================================
	# Variables
	================================================== */
	@baseHeight: 20px;

/*	==================================================
	# Global
	================================================== */
body {
	background-color: #fff;
}
#wrapper .signup {
	margin-left: -225px;
}
.message {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	max-width: 20%;
	margin: 0 auto;
	padding: 10px;
	top:4px;
}

input:valid {
	border-right-color: green;
}

input:invalid {
	border-right-color: red;
}

/*	==================================================
	# Navigation
	================================================== */
.top-profile {
	color: white;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

/*	==================================================
	# Login
	================================================== */
.login-logo {
	color: #9d9d9d;
}

.loginbox {
	margin-top: @baseHeight * 2.5;

	.forgotten-password {
		float:right; 
		font-size: 80%; 
		position: 
		relative; 
		margin-top:-(@baseHeight)
	}

	.panel-body {
		padding-top:@baseHeight * 1.5
	}

	.input-group {
		margin-bottom: @baseHeight * 1.25
	}

	.form-group {
		margin-bottom: @baseHeight * 0.5
	}
}
/*	==================================================
	# WYSIWYG
	================================================== */

	@import "plugins/bootstrap-wysiwyg.less";

	#wysiwyg-editor {
		overflow:scroll;
		min-height: 200px;
		max-height:300px;
	}


/*	==================================================
	# Content
	================================================== */

.content-edit {

}

.content-list {
	.header {
		font-size: 18px;
		margin-bottom: @baseHeight * 0.5;
		padding-bottom: @baseHeight * 0.5;
		border-bottom: 1px solid black;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding-top: @baseHeight * 0.25;
			padding-bottom: @baseHeight * 0.25;
			border-bottom: 1px solid #eee
		}	
	}

}

/*	==================================================
	# Profile
	================================================== */

.profile-user {
	.input-group {
		&.name-group {
			.form-control {
				width: 50%
			}
		}
		margin-bottom: @baseHeight * 0.75;
	}

}

.users-list {
	.header {
		font-size: 18px;
		margin-bottom: @baseHeight * 0.5;
		padding-bottom: @baseHeight * 0.5;
		border-bottom: 1px solid black;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding-top: @baseHeight * 0.25;
			padding-bottom: @baseHeight * 0.25;
			border-bottom: 1px solid #eee;
			padding-left:0;
		}	
	}

}

/*	==================================================
	# Administration
	================================================== */

.site-admin {
	h3 {
		margin-top: @baseHeight;
	}
	.input-group {
		&.name-group {
			.form-control {
				width: 50%
			}
		}
		margin-bottom: @baseHeight * 0.75;
	}

}

.user-admin {
	h4 {
		margin-top: @baseHeight;
		margin-left: 0;
		&:first-of-type {
			margin-left:-15px
		}
	}
}

/*	==================================================
	# Keen Analytics
	================================================== */
.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.keen-block {
	&.keen-large{
		min-height: 500px;
	}
	&.keen-medium {
		min-height: 300px
	}
	&.keen-small {
		min-height: 200px
	}
}