{% include 'navigation.html' %}
<div id="page-wrapper" class="fill site-admin">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ lang.siteAdmin }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-6">
            <h3 class="page-header">{{ lang.headAnaDat }}</h3>
            <div>
                <label for="email">{{ lang.adminSiteTitle }}</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-fw fa-cloud"></i>
                    </span>
                    <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phSiteTitle }}" required />                                        
                </div>
            </div>

            <div>
                <label for="email">{{ lang.adminSiteMeta }}</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-fw fa-database"></i>
                    </span>
                    <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phSiteMeta }}" required />                                        
                </div>
            </div>

            <div>
                <label for="email">{{ lang.adminSiteKey }}</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-fw fa-key"></i>
                    </span>
                    <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phSiteKey }}" required />                                        
                </div>
            </div>


            </div>

            <div class="col-lg-6">
            <h3 class="page-header">{{ lang.headAnaDat }}</h3>
                <div>
                    <label for="email">{{ lang.adminKeenPID }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle"></i>
                        </span>
                        <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phKeenPID }}" required />                                        
                    </div>
                </div>

                <div>
                    <label for="email">{{ lang.adminKeenRK }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle"></i>
                        </span>
                        <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phKeenRK }}" required />                                        
                    </div>
                </div>

                <div>
                    <label for="email">{{ lang.adminKeenRK }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle"></i>
                        </span>
                        <input id="email" type="email" class="form-control" name="email" value="{{content.email}}" placeholder="{{ lang.phKeenRK }}" required />                                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->