{% include 'navigation.html' %}
<div id="page-wrapper" class="content-list">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ title }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="header col-lg-12">
                <div class="col-lg-6">Title</div>
                <div class="col-lg-6">Date</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            {% for c in content %}
              {% if loop.first %}<ul>{% endif %}
                <li class="col-lg-6">{{ c.title }}</li>
                <li class="col-lg-6">{{ c.created|date('d M Y') }}</li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->