{% include 'navigation.html' %}
<div id="page-wrapper" class="content-edit">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ title }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Editor -->
        <div class="row">
        <div class="message bg-{{ messageClass }}">{{ message }}</div>
            <div class="col-lg-12">
                <form id="contentCreate" name="contentCreate" method="post">
                <input id="contentTitle" name="title" type="text" class="form-control input-lg form-group" value="{{ content.title }}" placeholder="Content Title" required />

                <input id="contentSlug" name="slug" type="text" class="form-control input-lg form-group" value="{{ content.slug }}" placeholder="Content Slug" required />

                    {% include 'wysiwyg.html' %}

                <input id="contentMeta" name="meta" type="text" class="form-control input-lg form-group " value="{{ content.meta }}" placeholder="Meta Data" />

                <input id="contentKeywords" name="keywords" type="text" class="form-control input-lg form-group" value="{{ content.keywords }}" placeholder="Keywords" />

                <div class="btn-group pull-right">
                    <button class="btn btn-primary" type="submit">{{ lang.saveButt }}</button>
                    <a class="btn btn-danger" href="/admin/content">{{ lang.cancelButt }}</a>
                </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

