<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %} {{ lang.siteName }} {% endblock %}</title>

	<base href="/admin/">{% block head %}
	<!-- Bootstrap Core CSS -->
	<link href="styles/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="styles/sb-admin.css" rel="stylesheet">
	<link href="styles/custom.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
	{% endblock %}
</head>

<body>
	<div id="wrapper">
		{% block content %}{% endblock %}
	</div>
</body>

{% block scripts %}
<!-- jQuery -->
<script src="scripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="scripts/bootstrap.min.js"></script>
<!-- Custom scripting -->
<script src="scripts/custom.js"></script>
<!-- Bootstrap WYSIWYG editor -->
{% if editView %}
<script src="scripts/plugins/bootstrap-wysiwyg.js"></script>
<script src="scripts/plugins/jquery.hotkeys.js"></script>

<script>
	$(document).ready(function() {
		$('#wysiwyg-editor').wysiwyg();
		$('#wysiwyg-editor').wysiwyg().on('change', function() {
			$('#contentBody').val($(this).cleanHtml());
		});

		$('#wysiwyg-editor').html($('#contentBody').val())

	});
</script>
{% endif %} {% endblock %}

</html>