{% include 'navigation.html' %}
<div id="page-wrapper" class="profile-user">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ lang.profileUserTitle }}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Editor -->
        <div class="row">
        <div class="message bg-{{ messageClass }}">{{ message }}</div>
            <div class="col-lg-12">
                <!-- User profile image -->
                <div class="col-lg-3">
                    <label>{{ lang.gravatar }}</label>
                    <img class="img img-responsive img-thumbnail" src="{{ gravatar }}" title="{{ content.firstName}} {{ content.lastName}}" width="200" height="200">
                    <div class="small">{{ lang.picFootnote }}</div>
                </div>

                <!-- User profile details -->
                <div class="col-lg-9">
                    <form id="userProfile" name="userProfile" method="post">
                        <div>
                            <label for="firstName">{{ lang.labUserNameSurname }}</label>
                            <div class="input-group name-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-user"></i>
                                </span>
                                <input id="firstName" type="text" class="form-control" name="firstName" value="{{content.firstName}}" placeholder="{{ lang.phFirstName }}" required />
                                <input id="lastName" type="text" class="form-control" name="lastName" value="{{content.lastName}}" placeholder="{{ lang.phLastName }}" required />                                              
                            </div>  
                        </div>                 

                        <div>
                            <label for="email">{{ lang.labEmail }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                </span>
                                <input id="email" type="email" class="form-control" name="email" placeholder="{{ lang.phPassword }}" value="{{ content.email }}" />                                        
                            </div>
                        </div>
                        
                        <div>
                            <label for="password">{{ lang.labPassword }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-lock"></i>
                                </span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="{{ lang.phPassword }}" required />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-lock"></i>
                                </span>
                                <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="{{ lang.phConPassword }}" />
                            </div>
                        </div>  

                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" type="submit">{{ lang.saveButt }}</button>
                            <a class="btn btn-danger" href="/admin/profile">{{ lang.cancelButt }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

